/* Background */

.stApp{
    background:#0B6B3A;
}

/* Lebar halaman */

.block-container{
    max-width:720px;
    padding-top:25px;
}

/* Logo */

.stImage{
    display:flex;
    justify-content:center;
    margin-bottom:10px;
}

/* Text Area */

.stTextArea textarea{

    background:white !important;

    color:black !important;

    border-radius:12px !important;

    font-size:16px;

    border:none !important;

}

/* Tombol */

.stButton>button{

    width:100%;

    background:white;

    color:#0B6B3A;

    height:50px;

    border-radius:10px;

    font-size:18px;

    font-weight:bold;

    border:none;

}

.stButton>button:hover{

    background:#ececec;

    color:#0B6B3A;

}

/* Success */

.stSuccess{

    border-radius:10px;

}

/* Error */

.stError{

    border-radius:10px;

}
