/* ==========================
   Background
========================== */
.stApp{
    background: #0B5D3B;
}

/* Container */
.block-container{
    max-width: 750px;
    padding-top: 30px;
}

/* Judul */
h1{
    color: white !important;
    text-align: center;
    font-weight: bold;
}

/* Subjudul */
.subtitle{
    text-align: center;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

/* Subheader */
h3{
    color: white !important;
}

/* Label */
label{
    color: white !important;
    font-weight: bold;
}

/* Text Area */
.stTextArea textarea{
    background: white !important;
    color: black !important;
    border-radius: 12px;
    border: none;
    font-size: 16px;
}

/* Placeholder */
.stTextArea textarea::placeholder{
    color: #888;
}

/* Tombol */
.stButton > button{
    width: 100%;
    height: 50px;
    background: white;
    color: #0B5D3B;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

/* Hover tombol */
.stButton > button:hover{
    background: #f2f2f2;
    color: #0B5D3B;
}

/* Logo */
.stImage{
    display: flex;
    justify-content: center;
}

/* Success */
.stSuccess{
    border-radius: 10px;
}

/* Error */
.stError{
    border-radius: 10px;
}
